
.header {
  /*   display: flex; */
  background-color: $headercolor;
  /*   flex-direction: row; //horisontellt */
  /*   justify-content: space-between; //flyter ut elementen åt sidorna.
  align-items: center; //vertikalled */
  padding: 2rem;
  color: $background-alternative-color;
}

.header {
  grid-column: first / end;
  grid-row: row1-start / row2-start;
  display: grid;
  grid-template-columns: [first] 40% [second] auto [third] 15% [end];
  grid-template-rows: [row1-start] auto [row-end];
}

.site-header {
  grid-column: first / second;
  grid-row: row1-start / row-end;
  display: grid;
  grid-template-columns: [first] 40% [second] 40% [end];
  grid-template-rows: [row1-start] auto [row-end];


}
/* .site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.nav a {
  font-size: 2rem;
  color: $background-alternative-color;

}

.nav {
  grid-column: third / end;
  grid-row: row1-start / row-end;
}

.title,
.logo {
  //padding: 2em 3em 2em 0;
  max-width: 200px;

  img {
    float: left;
    opacity: 80%;
    width: 200px;
  }
}

.logo {
  grid-column: first / second;
}

.title {
  grid-column: second / end;
  grid-row: row1-start / row-end;
  float: center;
  border: 1px solid;
  border-radius: 16px;
  padding: 10px;
  float: right;
  height: 80%;
}
/* */
.hidden {
  display: none !important;
}
